
@{
    ViewData["Title"] = "Home Page";
}


<p style="text-align: justify;"><span><span>Компания <a href="http://vline.kiev.ua/"><strong>ВидеоЛайн</strong></a> предоставляет услуги по</span><span><a href="index.php/videonablyudenie"> </a>проектированию и установке охранных систем в городе Киеве и Киевской области, <span> а так же поставляет сопутствующее оборудование. </span><br /></span></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;">Наши направления специализации:</p>
<p><strong><a href="index.php/videonablyudenie"><strong>Видеонаблюдение</strong></a></strong></p>
<ul style="list-style-type: disc;">
    <li><span>Установка видеонаблюдения под ключ</span></li>
    <li><span>Комплекты видеонаблюдения </span><span style="font-size: 12.16px; line-height: 1.3em;">«Установи сам» </span><span style="font-size: 12.16px; line-height: 1.3em;"> </span></li>
    <li><span>Камеры наблюдения</span></li>
    <li><span>Видеорегистраторы для аналоговых (DVR), гибридных (HVR), и сетевых IP систем </span><span style="font-size: 12.16px; line-height: 1.3em;">(NVR)</span></li>
    <li><span>Сопутствующее оборудование</span></li>
</ul>
<p><strong><a href="index.php/domofony">Контроль доступа</a></strong></p>
<ul style="list-style-type: disc;">
    <li><span>Установка систем контроля доступа (СКД)</span></li>
    <li><span>Контроллеры СКД</span></li>
    <li><span>Считыватели карт доступа</span></li>
    <li><span>Системы контроля доступа FoxSeс</span></li>
    <li><span>Системы контроля доступа АССО Satel</span></li>
    <li><span>Домофоны, видеодомофоны</span></li>
    <li><span>Электромеханические замки, магнитные замки с электронным управлением</span></li>
    <li><span>Устройства согласования, коммутации, беспроводной передачи данных и др.</span></li>
</ul>
<p><a href="index.php/signalizatsii"><strong>Сигнализации</strong></a></p>
<ul style="list-style-type: disc;">
    <li><span>Установка пультовых и GSM сигнализаций</span></li>
    <li><span>Датчики открытия, движения, объема, разбития стекла, дыма, газа и др.</span></li>
    <li><span>Беспроводные датчики всех типов.</span></li>
</ul>
<p><a href="index.php/avtomatika"><strong>Автоматика</strong></a></p>
<ul style="list-style-type: disc;">
    <li><span>Установка систем автоматизации и котельного оборудования</span></li>
</ul>
<p style="text-align: justify;"><strong><em><span>Мы ставим цель понять потребности клиента, учесть все пожелания и предложить наилучшее решение.</span></em></strong></p>
<p style="text-align: justify;"><span style="font-size: 12.16px; line-height: 1.3em;"> </span></p>
<p style="text-align: justify;"><span><strong>Наши предложения:</strong></span><strong> </strong></p>
<ul style="list-style-type: disc; text-align: justify;">
    <li><span text-align: justify;">Проектирование и установка</span><strong style="text-align: justify;"> систем видеонаблюдения, контроля доступа и сигнализаций под </strong><strong text-align: justify;">ключ </strong><span text-align: justify;">с полным набором соответствующих услуг: предварительный выезд, консультации, проектные работы, доставка оборудования, установка, пусконаладочные работы, гарантийное и послегарантийное обслуживание.</span></li>
    <li><span text-align: justify;">Установка </span><strong text-align: justify;">готовых комплектов под ключ</strong><span text-align: justify;">. В стоимость так же входят предварительный вызов, консультации, оборудование, материалы, монтаж, пусконаладка. Комплектация представлена для примера. Мы посоветуем оборудование, которое лучше учтёт Ваши потребности, специфику объекта и все пожелания.  </span></li>
</ul>
<ul style="list-style-type: disc; text-align: justify;">
    <li><span>По желанию заказчика возможна поставка любого комплекта на объект </span><strong>без установки</strong><span>. В этом случае Вы получаете оборудование по минимальной цене, бесплатные консультации по самостоятельной сборке и настройке. Гарантия предоставляется только на оборудование.</span></li>
    <li><strong>Модернизация</strong><span style="font-size: 12.16px; line-height: 1.3em;"> существующих систем и </span><strong>установка дополнительного оборудования.</strong></li>
    <li><span>Продажа и доставка популярных </span><strong>комплектов "Установи сам"</strong><span>. Рекомендуется, как быстрое недорогое решение. </span></li>
    <li><span style="font-size: 12.16px; line-height: 1.3em;">Продажа и доставка </span><strong style=>оборудования</strong><span> со склада.</span></li>
</ul>
<p style="text-align: justify;"><span> </span></p>
<p style="text-align: justify;"><strong><span>Общие этапы сотрудничества:</span></strong></p>
<p style="text-align: justify;"><strong>1)</strong> Выезд нашего специалиста для</p>
<ul class="caption" style="list-style-type: disc; text-align: justify;">
    <li><span>осмотра, зарисовки плана объекта</span></li>
    <li><span>выяснения потребностей и пожеланий клиента</span></li>
    <li><span>консультаций по поводу возможностей и подбора оборудования</span></li>
</ul>
<p style="text-align: justify;"><strong>2) </strong>Мы<strong> </strong>составляем проект и присылаем Вам несколько ценовых предложений</p>
<p style="text-align: justify;"><strong>3)</strong> Утверждение проекта и внесение залога</p>
<p style="text-align: justify;"><strong>4)</strong> Установка оборудования, пуско-наладочные работы, консультации</p>
<p style="text-align: justify;"><strong>5)</strong> Полный расчёт</p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><em>ПРИМЕЧАНИЕ: на сайте представлено не всё оборудование со склада! Просим уточнять наличие и цены по телефону.</em><span> </span><em>Подберём по параметрам то, что Вам нужно.</em></p>
<p style="text-align: justify;"><em> </em></p>

