

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 2px 2px 1px black;
}





.loginString {
    text-align: left;
    height: 25px;
    color: #00539F; /* как у h1*/
    background-color:aliceblue; 
    /*background: -moz-radial-gradient(top, #ff0000, #297be6);
    background: -webkit-radial-gradient(center, ellipse cover, goldenrod, #ff0000);*/
    /*padding: 0px 20px 0px 20px; /* верх лево низ право*/
     margin: 0px 10px 0px 10px;
}

footer {
    background-color: burlywood;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    z-index: 1000;
    position: fixed;
    
}

body {
    /*  это всё пространство  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white; /*wheat;*/
    font-size: 16px;
}


p {
    /*  это всё пространство  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    font-size: 16px;
}






/*
.but1 {
    position: relative;
    display: inline-block;
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    
    color: #fff;
    text-shadow: 0 -1px 1px #777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    border: 2px #00539F;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #00539F);
}*/
.btn, .btnMainMenu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #297be6;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    z-index: 1;
}

    .btn span, .btnMainMenu span {
        position: absolute;
        background: #fff;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        pointer-events: none;
        animation: btn_ripples 0.6s linear infinite;
    }


    .btn:hover, .btnMainMenu:hover {
        /* box-shadow: 0 1px 2px 0 #297be6;*/ /*тень при наведении мышки */
        background-color: rgb(26 115 232 /70%); /* цвет при наведении мышки */
    }



    .btn:focus-visible, .btnMainMenu:focus-visible {
        box-shadow: 0 0 0 0px lightskyblue;
    }

    .btn:disabled, .btnMainMenu:disabled {
        pointer-events: none;
        opacity: 0.65;
    }

    .btn:active, .btnMainMenu:active {
        top: .1em;
        left: .1em;
        box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
    }

.btnMainMenu {
    /* display: inline-block; /* Строчно-блочный элемент */
    /* background: #8C959D; /* Серый цвет фона */
    /* color: #fff; /* Белый цвет текста */
    /* padding: 1rem 1.5rem; /* Поля вокруг текста */
    /* text-decoration: none; /* Убираем подчёркивание */
    /* border-radius: 3px; /* Скругляем уголки */
    /*width: 200px;*/
    
    text-align: center;


    /*position: relative;
    top: -20px;*/
    display: inline; /* Отображать как строчный элемент */
    /*margin-right: 20px 20px 20px 20px; */ /* Отступ слева */
    padding: 0px 20px 0px 0px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
    /* border: 1px solid rgb(64, 64, 224);
    border-radius: 5px;*/
    height: 15px;
    /*border: 1px solid blue;
    border-radius: 5px;*/
}

td {
    width: 295px;
    height: 18px;
    text-align: center;
    margin: 6px;
}

.summ {
    max-width:300px;
    background-color: ghostwhite;
    border-bottom: 2px solid #ccc;
    border-right: 1px #eee;
    border-left: 1px #eee;
}

.table {
    border-collapse: collapse;
}
    .table td {
        /*border-bottom: 1px solid lightblue;*/
        background-color: ghostwhite;
        border-bottom: 2px solid #ccc;
        border-right: 1px #eee;
        border-left: 1px #eee;
        border-top: 1px #eee;
    }

.table-head {
    border-collapse: collapse;
}

    .table-head td {
        /*border-bottom: 1px solid lightblue;*/
        background-color: lightblue;
        border-bottom: 2px solid #ccc;
        border-right: 1px #eee;
        border-left: 1px #eee;
        border-top: 1px #eee;
    }

.leftstr {
    text-align: left; /* Выравнивание по левому краю */
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина текстового блока */
    margin: 0px; /*  пространство вокруг внешней стороны элемента */
    padding: 0px 20px 20px 20px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
}

.rightstr {
    text-align: right; /* Выравнивание по правому краю */
    padding: 0px 20px 20px 20px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
}



.rightstrGreeting {
    text-align: right; /* Выравнивание по правому краю */
    padding: 0px 20px 0px 20px; /* верх лево низ право пространство только вокруг контента (например, вокруг абзаца текста) */
}

.inBox {
    text-align: right; 
    width: 300px;
}

.inBoxPersonal {
    text-align: right;
    width: 550px;
}

.fieldProductName {
    width: 630px;
    height: 18px;
    font-size: 18px;
    font-weight: bold;
}

.fieldProduct {
    width: 100px;
    height: 18px;
    font-size: 18px;
    
}

.fieldDescription {
    width: 800px;
    height: 200px;
    font-size: 18px;
}

.formProduct {
    /*width: 100px;*/
    /*height: 18px;*/
    font-size: 18px;
    float: right;
}



header {
    height: 120px;
    width: 100%;
    background-color: white /*aliceblue*/;
    /*padding: 20px; */
    margin: 3px;
    min-width: 1240px;
    /*max-width: calc(100% - 218px);*/
    border: 1px solid blue;
    border-radius: 5px;
}

.announcement {
    height: 22px;
    width: 100%;
    text-align: center;
    background-color: coral;
    margin: 3px;
    min-width: 1120px;
    border: 1px solid red;
}


.logo {
    padding: 3px 0px 0px 5px;
    float: left;
}

.authorize {
    text-align: right; /* Выравнивание по правому краю содержимого*/
    float: right; /* Обтекание этого блока слева снаружи*/
    width: 250px; /* Ширина текстового блока */
    margin: 11px; /*  пространство вокруг внешней стороны элемента */
    padding: 10px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
    border: 1px solid blue;
    border-radius: 5px;
    position: relative;
    
}

.authorizeClient {
    min-height: 20px;
    width: 100%;
    background-color: aliceblue;
    /*padding: 20px; */
    margin: 3px;
    min-width: 1240px;
    /*max-width: calc(100% - 218px);*/
    border: 1px solid blue;
    border-radius: 5px;
}

.authorizeLeft {
    float: left;
    position: relative;
    top: -3px;
    text-align: left;
    padding: 0px 10px 0px 10px;
    max-width: 600px;
}

.authorizeRight {
    position: relative;
    top: -3px;
    float: right;
    text-align: right;
    color: red;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    max-width: 500px;
}

.btnLink {
    color: blue;
    
    
}

.main {
    padding: 0px 10px 10px 10px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
    /*  это серединка  */

    border: 10px; /*сплошная линия, которая расположена рядом с padding */
    margin: 10px 0px 70px 0px; /*  70 - это подняли над футером */
    border: 1px solid rgb(64, 64, 224);
    border-radius: 5px;
    min-height: 500px;
    width: calc(100% - 330px);
    text-align: left;
    float: right; /* Обтекание справа */

    min-width: 347px;
    /*display: flex;*/ /* блочный флекс контейнер */
}

.mainMenu {
    position: relative;
    left: 2px;
    height: auto;
    width: calc(100% - 50px);
    padding: 0px 40px 0px 40px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
    margin: 0px 0px 3px 0px;
    /*border: 1px solid blue;
    border-radius: 5px;*/
}

.ulMenu {
    border: 1px solid red;
    border-radius: 5px;
    height: calc(100% - 23px);
}

.item-100, .item-100-admin {
    background-color: white;
    /*position: relative;
    top: -20px;*/
    display: inline; /* Отображать как строчный элемент */
    /*margin-right: 20px 20px 20px 20px; */ /* Отступ слева */
    padding: 0px 15px 0px 15px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
    /*margin: 15px 0px 15px 0px;*/
    margin-bottom: 5px;
    /* border: 1px solid rgb(64, 64, 224);
    border-radius: 5px;*/
    height: 15px;
    text-align: center;
    font-weight: bold;
    color: blue;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 5px;
}
    .item-100:hover {
        text-decoration: underline;
        color: blue;
        font-weight: bold;
        background-color: aliceblue;
    }

.item-100 a{
    
    text-align: center;
    font-weight: bold;
    color: blue;
    text-decoration: none;
}
    .item-100-admin a {
        text-align: center;
        text-decoration: none;
        color: red;
    }
        .item-100-admin a:hover {
            text-decoration: underline;
            color: red;
        }
    .item-100-admin {
        text-decoration: none;
        color: red;
    }

        .item-100-admin:hover {
            text-decoration: underline;
            color: red;
            background-color: aliceblue;
        }


.center {
    width: 100%;
    padding: 0px 5px 0px 0px;
    display: inline-block;
    text-align: left; /* Выравнивание по левому краю */
    flex-direction: row;
    border: 1px solid blue;
    border-radius: 5px;
    min-width: 680px;
}

.leftColumn {
    text-align: left;
    float: left; /* Обтекание справа */
    width: 280px; /* Ширина текстового блока */
    margin: 10px; /*  пространство вокруг внешней стороны элемента */
    padding: 0px 0px 0px 0px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
    /*border: 1px solid rgb(64, 64, 224);
    border-radius: 5px;*/
}

.text-danger {
    color: red;
}



.leftMenuDiv {
    text-align: left;
    width: 280px; /* Ширина текстового блока */
    margin: 0px 0px 10px 0px;
    /*border: 1px solid red;
    border-radius: 5px;*/
}


.leftMenu {
    width: 250px; /* Ширина текстового блока */
    margin: 0px 0px 0px 0px; /*  пространство вокруг внешней стороны элемента */
    padding: 10px 0px 10px 25px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
    border: 1px solid blue;
    border-radius: 5px;
}

.decorLeftMenu {
    text-decoration: none;
    color: black;
}

    .decorLeftMenu:hover {
        text-decoration: underline;
        color: blue;
        font-weight: bold;
    }

.adv {
    text-align: center;
    max-width: 280px; /* Ширина текстового блока */
    margin: 0px 0px 10px 0px; /*  пространство вокруг внешней стороны элемента */
    padding: 20px 0px 20px 0px; /* верх - низ - пространство только вокруг контента (например, вокруг абзаца текста) */
    border: 1px solid rgb(64, 64, 224);
    border-radius: 5px;
}




.productInCatalog {
    text-align: left;
    float: left; /* Обтекание справа */
    width: 310px; /* Ширина текстового блока */
    height: 547px;
    margin: 10px 10px 10px 10px; /*  пространство вокруг внешней стороны элемента */
    padding: 0px 10px 10px 10px; /*  пространство только вокруг контента (например, вокруг абзаца текста) */
    border: 1px solid rgb(164, 64, 224);
    border-radius: 5px;
    word-wrap: break-word;
    overflow: hidden;
}

.decorNameDiv {
    position: relative;
    top: -15px;
    height: 40px;
    
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.decorName {
    text-decoration: none;
    color: black;
}

    .decorName:hover {
        text-decoration: underline;
        color: blue;
    }


.photoframeInCatalog {
    width: 308px;
    height: 245px;
    text-align: center;
    display: flex;
    display: table-cell;
    vertical-align: middle;
}

.photoInCatalog {
    max-height: 245px;
    max-width: 308px;
    margin: 0px;
    padding: 0px;
}

.imagesInProduct {
    display: inline-block;
    max-height: 880px;
    width: 100%;
    float: left;
}

.imageInProduct {
    display: inline-block;
    height: 300px;
    max-height: 400px;
    max-width: 500px;
    margin: 0px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
    .imageInProduct > img {
        max-height: 400px;
        max-width: 500px;
        margin: 0px;
        padding: 0px;
    }

.imageInAdmin {
    display: inline-block;
    height: 350px;
    /*max-height: 450px;*/
    max-width: 500px;
    margin: 2px;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgb(164, 64, 224);
    border-radius: 5px;
}

    .imageInAdmin > img {
        max-height: 300px;
        max-width: 500px;
        margin: 0px;
        padding: 0px;
        border: 1px solid red;
        border-radius: 5px;
    }

.textInProduct {
    text-align: left;
    padding: 350px 10px 10px 10px;
}

.decorText {
    text-decoration: none;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    
    /*border: 1px solid rgb(164, 64, 224);
    border-radius: 5px;*/
}

    .decorText:hover {
        text-decoration: underline;
    }


.imageInProduct {
    text-align: left;
    float: left; /* Обтекание справа */
    height: 440px;
    /* margin: 10px 10px 10px 10px;*/ /*  пространство вокруг внешней стороны элемента */
    padding: 10px; /*  пространство только вокруг контента (например, вокруг абзаца текста) */
    /*overflow: hidden;*/
    border: 1px solid rgb(100, 64, 224);
    border-radius: 5px;
}




.photoframeInManager {
    background-color: ghostwhite;
    width: 175px;
    height: 133px;
    text-align: center;
    display: flex;
    display: table-cell;
    vertical-align: middle;
}

.photoframeInOrders {
    background-color: white;
    width: 175px;
    height: 133px;
    text-align: center;
    display: flex;
    display: table-cell;
    vertical-align: middle;
}

.photoInManager {
    max-height: 130px;
    max-width: 175px;
    margin: 0px;
    padding: 0px;
}

.registration {
    width: 500px;
    text-align: right;
}

.quantCart {
    width: 60px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 3px;
    font-size: 25px;
}
    .quantCart:focus {
        outline: none;
        border: 1px solid blue;
        border-radius: 3px;
    }
    .quantCart::-webkit-outer-spin-button,
    .quantCart::-webkit-inner-spin-button {
        
        width: 30px;
    }

.order {
    border: 1px solid rgb(100, 64, 224);
    border-radius: 5px;
    background-color: ghostwhite;
    padding: 3px;
}

.cartButton {
    background-color: white;
    width: 78px;
    height: 72px;
    border: 0px;
    /*background-image: url("../css/theme1/cart.png");*/
    margin: 20px;
    
    float: right;
    background-repeat: no-repeat;
}
