<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyStore</title>
    <link rel="stylesheet" href="~/css/store.css" />
    <link rel="stylesheet" href="~/css/_LayoutAdmin.css" />


</head>
<body>
    <header class="headerAdmin">
        <div class="authorizeClientAdmin">
            @{

                var authorizedClient = Context.Session.Get<Client>("authorizedClient");//получаем клиента из сессии
                var authorizedEmployee = Context.Session.Get<Employee>("authorizedEmployee");
                if (authorizedClient != null)
                {
                    <div>Вы вошли как <b>@authorizedClient.Email</b>. &nbsp;&nbsp;&nbsp;<a class="btnLink" asp-controller="Home" asp-action="GetOut">Выйти</a></div>
                }
                else
                {
                    if (authorizedEmployee != null)
                    {
                        <div>
                            Вы вошли как сотрудник <b>@authorizedEmployee.Email</b>. &nbsp;&nbsp;&nbsp;<a class="btnLink" asp-controller="Home" asp-action="GetOut">Выйти</a>&nbsp;&nbsp;
                            <a class="btnLink" asp-controller="home" asp-action="RegistrationForm">Регистрация сотрудника</a>
                        </div>
                    }
                    else
                    {
                        <div>Вы не авторизированы. &nbsp;&nbsp;&nbsp;<a class="btnLink" asp-controller="home" asp-action="RegistrationForm">Регистрация</a></div>
                    }
                }


            }
        </div>

        <ul class="mainMenuAdmin">
            <li class="item-100"><a asp-controller="home" asp-action="index">Главная</a></li>
            <li class="item-100"><a asp-controller="home" asp-action="articles">Статьи </a></li>
            <li class="item-100"><a asp-controller="home" asp-action="questions">Вопросы&nbsp;клиентов</a></li>
            <li class="item-100"><a asp-controller="home" asp-action="prices">Цены&nbsp;и&nbsp;Акции </a></li>
            <li class="item-100"><a asp-controller="home" asp-action="delivery">Доставка&nbsp;и&nbsp;оплата</a></li>
            <li class="item-100"><a asp-controller="home" asp-action="contacts">Контакты</a></li>
            <li class="item-100-admin"><a asp-controller="admin" asp-action="CategoryEditor">Category&nbsp;Editor</a></li>
            <li class="item-100-admin"><a asp-controller="admin" asp-action="ProductsManagement">Products&nbsp;Management</a></li>
            <li class="item-100-admin"><a asp-controller="admin" asp-action="OrdersManagement">Orders&nbsp;Management</a></li>
            <li class="item-100-admin"><a asp-controller="admin" asp-action="LogView">Today's&nbsp;visit&nbsp;log&nbsp;</a></li>
        </ul>
       

        <div class="logo">

        </div>
    </header>
    
        

        <div class="mainAdmin">
            <main >
                @RenderBody()
            </main>
        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Видеолайн. Все права защищены.
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
